<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moses.blog.mapper.ArticleMapper">

    <!--    建立sql查询结果字段与实体属性的映射关系-->
    <resultMap id="ArticleInfoMap" type="com.moses.blog.entity.Article">
        <result column="a_id" property="id"/>
        <result column="a_title" property="title"/>
        <result column="a_content" property="content"/>
        <result column="a_summary" property="summary"/>
        <result column="a_cover" property="cover"/>
        <result column="a_view_count" property="viewCount"/>
        <result column="a_update_time" property="updateTime"/>
        <result column="a_status" property="status"/>
        <result column="a_type_id" property="typeId"/>

        <result column="t_name" property="name"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId!=null">a_type_id,</if>
            <if test="title!=null and title!='' ">a_title,</if>
            <if test="content!=null and content!=''">a_content,</if>
            <if test="summary!=null and summary!=''">a_summary,</if>
            <if test="cover!=null and cover!=''">a_cover,</if>
            <if test="viewCount!=null">a_view_count,</if>
            <if test="updateTime!=null">a_update_time,</if>
            <if test="status!=null">a_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId!=null">#{typeId},</if>
            <if test="title!=null and title!=''">#{title},</if>
            <if test="content!=null and content!=''">#{content},</if>
            <if test="summary!=null and summary!=''">#{summary},</if>
            <if test="cover!=null and cover!=''">#{cover},</if>
            <if test="viewCount!=null">#{viewCount},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="status!=null">#{status},</if>
        </trim>
    </insert>

    <update id="update">
        update article
        <set>
            <if test="title!=null">a_title=#{title},</if>
            <if test="content!=null">a_content=#{content},</if>
            <if test="summary!=null">a_summary=#{summary},</if>
            <if test="cover!=null">a_cover=#{cover},</if>
            <if test="viewCount!=null">a_view_count=#{viewCount},</if>
            <if test="updateTime!=null">a_update_time=#{updateTime},</if>
            <if test="status!=null">a_status=#{status},</if>
            <if test="typeId!=null">a_type_id=#{typeId}</if>

        </set>
        where a_id = #{id}
    </update>

    <update id="updateTypeId">
        UPDATE article
        Set a_type_id=#{typeId}
        WHERE a_id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateStatus">
        UPDATE article
        Set a_status=#{status}
        WHERE a_id = #{id}
    </update>

    <delete id="delete">
        delete
        from article
        where a_id = #{id}
    </delete>

    <delete id="DeleteByTypeIdArr">
        delete
        from article
        where a_id = #{typeId};
    </delete>

    <select id="list" resultMap="ArticleInfoMap">
        SELECT
        ai.a_id,
        ai.a_type_id,
        ti.t_name,
        ai.a_title,
        ai.a_cover,
        ai.a_summary,
        ai.a_update_time,
        ai.a_view_count
        FROM
        article ai,type_info ti
        WHERE
        ai.a_type_id = ti.t_id
        <if test="status!=null">AND ai.a_status=#{status}</if>
        <if test="keyWord!=null and keyWord!=''">AND ai.a_title LIKE #{keyWord}</if>
        ORDER BY ai.a_update_time DESC
    </select>

    <select id="findArticleById" resultMap="ArticleInfoMap">
        SELECT ai.a_id,
               ai.a_type_id,
               ti.t_name,
               ai.a_title,
               ai.a_cover,
               ai.a_content,
               ai.a_summary,
               ai.a_update_time,
               ai.a_view_count
        FROM article ai,
             type_info ti
        WHERE ai.a_type_id = ti.t_id
          AND ai.a_status = 1
          AND ai.a_id = #{id}
    </select>

    <select id="countByTypeIdArr" resultType="java.lang.Integer">
        select count(*)
        from article
        where a_status = #{status}
          and a_type_id = #{typeId}
    </select>


</mapper>


