<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moses.blog.mapper.TypeInfoMapper">

    <!--    建立sql查询结果字段与实体属性的映射关系-->
    <resultMap id="TypeInfoMap" type="com.moses.blog.view.TypeInfo">
        <result column="t_id" property="id"/>
        <result column="t_name" property="name"/>
        <result column="t_sort" property="sort"/>
    </resultMap>

    <insert id="insert">
        insert into type_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort!=null">t_sort,</if>
            <if test="name!=null and name!=''">t_name,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="sort!=null">#{sort},</if>
            <if test="name!=null and name!=''">#{name},</if>
        </trim>
    </insert>

    <update id="update">
        update type_info
        <set>
            <if test="sort!=null">t_sort=#{sort},</if>
            <if test="name!=null and name!=''">t_name=#{name}</if>
        </set>
        where t_id = #{id};
    </update>

    <delete id="delete">
        delete
        from type_info
        where t_id in
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getTypeInfoList" resultMap="TypeInfoMap">
        select *
        from type_info
        order by t_sort
    </select>

    <select id="getNameById" resultType="java.lang.String">
        select t_name
        from type_info
        where t_id = #{typeId};
    </select>


</mapper>


