<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--    组件扫描-->
    <context:component-scan base-package="com.moses.blog"/>

    <!--    处理静态资源-->
    <mvc:default-servlet-handler/>

    <!--    配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--    配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--            拦截路径-->
            <mvc:mapping path="/admin/**"/>
            <!--            白名单-->
            <mvc:exclude-mapping path="/admin/user_info/login.action"/>
            <mvc:exclude-mapping path="/admin/user_info/login.json"/>
            <mvc:exclude-mapping path="/admin/user_info/reg.action"/>
            <mvc:exclude-mapping path="/admin/user_info/reg.json"/>
            <!--            拦截器-->
            <bean class="com.moses.blog.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--    &lt;!&ndash;    CommonsMultipartResolver 下载文件之类的东西&ndash;&gt;-->
    <!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--        <property name="defaultEncoding" value="utf-8"/>-->
    <!--    </bean>-->

    <!--    想用Jackson必须加上这个"注解驱动"-->
    <mvc:annotation-driven/>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置默认编码 -->
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 上传文件总的大小最大为5M-->
        <property name="maxUploadSize" value="5242440"/>
    </bean>
</beans>